<div class="container">
  <div class="row">
    <div class="col-md">
      <p class="heading-tools">Management tools</p>
    </div>
  </div>
  <div class="tools-container">
    <div class="row management-btn-row">
      <div class="col-md">
        <button class="btn btn-outline-dark management-btn">Save as JSON</button>
      </div>
    </div>
    <div class="row management-btn-row">
      <div class="col-md">
        <button class="btn btn-outline-dark management-btn">Save as PDF</button>
      </div>
    </div>
    <div class="row management-btn-row">
      <div class="col-md">
        <button class="btn btn-outline-dark management-btn">Convert to HTML</button>
      </div>
    </div>
    <div class="row management-btn-row">
      <div class="col-md">
        <button class="btn btn-outline-dark management-btn">Exit</button>
      </div>
    </div>
  </div>
</div>
