<div class="sign-up-info-panel">
  <div class="row info-pan">
    <div class="col">
      <div class="logo">
        <a [routerLink]="['/']">
          <img src="../../../../../assets/sign-up-page/sign-up-logo.svg" alt="logo" />
        </a>
        <span>RectuTan</span>
      </div>
      <div class="quote">
        <div class="colon">
          <svg width="21px" height="17px">
            <use xlink:href="#dark-colon"></use>
          </svg>
        </div>
        <div class="quote-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco
        </div>
        <div class="autor">Someone</div>
        <div class="quote-figure">
          <svg width="30px" height="30px">
            <use xlink:href="#quote-img"></use>
          </svg>
        </div>
      </div>

      <div class="figure-rect d-flex align-items-end">
        <svg width="141px" height="118px">
          <use xlink:href="#rect-sign-up"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
