.close-btn {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.close-btn:hover {
  transform: scale(1.2);
}

.pop-up-menu {
  margin-bottom: 1rem;
  padding: 0;
}

.image-border {
  border-radius: 25px;
  height: 100px;
  width: auto;
  cursor: pointer;
}

.generate-btn {
  height: 2.3rem;
  width: 10rem;
  margin-top: 1rem;
}

.form-select {
  margin-left: 0.7rem;
  height: 2.3rem;
}
