<div class="d-flex justify-content-end">
  <div class="pop-up-menu">
    <button class="close-btn" (click)="close()">
      <svg width="30" height="30" viewBox="0 0 16 16">
        <use xlink:href="#img-close-btn"></use>
      </svg>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <form [formGroup]="resumeForm" (ngSubmit)="addJobDescription()">
      <div class="scaffold-text">
        <span class="heading-small">Level of seniority:</span>
        <select formControlName="seniorityLevel" class="text-description-small form-select">
          <option value="">Select seniority level</option>
          <option *ngFor="let level of getSeniorityIds()" [value]="level">
            {{ getSeniorityName(level) }}
          </option>
        </select>
      </div>

      <div class="row d-flex justify-content-center">
        <button class="btn btn-outline-dark generate-btn" [disabled]="resumeForm.invalid">
          Generate template
        </button>
      </div>
    </form>
  </div>
</div>
