.loader {
  position: relative;
  display: inline-block;
  margin: 0;
}

.loader-circle {
  font-size: 12px;
  border-top: 0.25em solid grey;
  border-right: 0.25em solid grey;
  border-bottom: 0.25em solid grey;
  border-left: 0.25em solid orange;
  height: 40px;
  width: 40px;
  animation: loadingCircle 1.1s infinite;
}

@keyframes loadingCircle {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loader-circle::after {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
