<div class="shadow p-3 mb-5 bg-white rounded resume-box">
  <div
    id="job-title-cover"
    [ngStyle]="{ 'background-image': 'url(' + coverPath + ')' }"
    class="job-title-cover"
  >
    <app-editable-field
      [value]="form.get('positionName').value"
      controlName="positionName"
      (updateValue)="updateControlValue($event)"
      class="d-flex justify-content-center align-items-center job-title-text"
    ></app-editable-field>
    <div class="shadow p-3 mb-5 bg-white resume-data">
      <div class="main-resume-block">
        <div class="row">
          <span class="col-md text-margin">
            <b>Type:&nbsp;&nbsp;</b>
            <app-editable-field
              [value]="form.get('positionType').value"
              controlName="positionType"
              (updateValue)="updateControlValue($event)"
            ></app-editable-field>
          </span>
          <span class="col-md text-margin">
            <b>Position:&nbsp;&nbsp;</b>
            <app-editable-field
              [value]="form.get('positionName').value"
              controlName="positionName"
              (updateValue)="updateControlValue($event)"
            ></app-editable-field>
          </span>
        </div>

        <div class="row">
          <span class="col-md text-margin">
            <b>Location:&nbsp;&nbsp;</b>
            <app-editable-field
              [value]="form.get('location').value"
              controlName="location"
              (updateValue)="updateControlValue($event)"
            ></app-editable-field>
          </span>
          <span class="col-md">
            <b>Years of experience:&nbsp;&nbsp;</b>
            <app-editable-field
              [value]="form.get('yearsOfExperience').value"
              controlName="yearsOfExperience"
              (updateValue)="updateControlValue($event)"
            ></app-editable-field>
          </span>
        </div>

        <div class="row">
          <span class="col-md">
            <b>Responsible recruiter:&nbsp;&nbsp;</b>
            <app-editable-field
              [value]="form.get('recruiter').value"
              controlName="recruiter"
              (updateValue)="updateControlValue($event)"
            ></app-editable-field>
          </span>
        </div>
      </div>

      <div class="about-project-block row">
        <span class="about-project-title">About project</span>
        <p class="about-project-text">
          <app-editable-field
            [value]="form.get('aboutProject').value"
            controlName="aboutProject"
            (updateValue)="updateControlValue($event)"
          ></app-editable-field>
        </p>
      </div>

      <div class="about-project-block row">
        <span class="about-project-title">Technologies</span>
        <div class="w-100"></div>
        <div class="technologies-resume-block" *ngIf="technologies">
          <span class="technologies-text">Required</span>
          <div class="technologies-logo row">
            <div class="col-md" *ngFor="let tech of technologies">
              <img
                src="{{ 'https://localhost:5001/images/' + tech + '.png' }}"
                alt=""
                style="max-width: 50px; max-height: 50px"
              />
            </div>
            <button class="add-btn" (click)="openTechnologiesDialog()">
              <div class="col-md">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="bi bi-plus-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="technologies-resume-block">
          <span class="technologies-text">Nice to have</span>
          <div class="technologies-logo row">
            <button class="add-btn" (click)="openTechnologiesDialog()">
              <div class="col-md">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="bi bi-plus-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
