<div class="container log-in">
  <span class="header-log-in">Sign up</span>
  <div class="log-in-form row">
    <form (ngSubmit)="signUp()" [attr.formGroup]="signUpForm">
      <input
        class="col-12 col-md-12"
        type="text"
        class="form-control"
        placeholder="User name"
        formControlName="userName"
      />
      <input
        class="col-12 col-md-12"
        type="email"
        class="form-control"
        placeholder="Email"
        formControlName="email"
      />
      <input
        class="col-12 col-md-12"
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      />

      <div class="w-100"></div>
      <button
        class="col-12 col-md-12"
        type="button"
        (click)="signUp()"
        [disabled]="!signUpForm.valid"
        class="btn btn-warning"
      >
        Sign up
      </button>
    </form>
  </div>

  <div class="sign-up-controls row">
    <span class="col-12 col-md-12 text-underline">Or</span>
    <button type="button" class="btn btn-secondary col-12 col-md-12">Sign up with Google</button>

    <a class="col-12 col-md-12" [routerLink]="['/']">Already a member? Sign up!</a>
  </div>
</div>
