<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">
    <img
      src="../../../assets/logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Template Engine
  </a>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 control-panel no-gutters-col">
      <app-management-tools></app-management-tools>
    </div>
    <div class="col-md-8 template-resume no-gutters-col">
      <app-resume-template [coverPath]="coverPath"></app-resume-template>
    </div>
    <div class="col-md-2 control-panel no-gutters-col">
      <app-resource-tools (updateCover)="updateCoverPath($event)"></app-resource-tools>
    </div>
  </div>
</div>
