.heading {
  padding-bottom: 8px;
  align-items: baseline;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1a1a1a;
}

.text-description {
  padding-left: 7px;
  padding-top: 2px;
  align-items: baseline;
  color: #1a1a1a;
}

.heading-small {
  padding-bottom: 8px;
  align-items: baseline;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #1a1a1a;
}

.text-description-small {
  padding-left: 7px;
  padding-top: 2px;
  font-size: 14px;
  align-items: baseline;
  color: #1a1a1a;
}

.control-panel {
  background-color: #f4f4f4;
}

.template-resume {
  background-color: #e4e3e3;
}

.no-gutters-col {
  padding-right: 0;
  padding-left: 0;
}
