$btn-color: #edb200;
.logo-text {
  color: white;
  font-weight: 500;
  font-size: 4.6rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo-img {
  margin-right: -4px;
  width: 200px;
  height: 200px;
}

.home-btn {
  border: 0.5rem solid white;
  color: white;
  min-width: 300px;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.5rem;
  margin-top: 4rem;
  background-color: $btn-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    transform: scale(1.1);
  }
}
