<div class="container h-100 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col logo-text d-flex justify-content-center align-items-center">
      <img src="../../../assets/logo-home-page.svg" alt="logo-home" class="logo-img" />
      <span>RecruTan</span>
    </div>
    <div class="w-100"></div>
    <div class="col d-flex justify-content-center">
      <button class="btn home-btn" (click)="navigateToLogIn()">Enter RecruTan</button>
    </div>
  </div>
</div>
