<div class="row w-100 h-100 no-gutters d-flex align-items-center">
  <div class="col">
    <button class="my-account-control" (click)="navigateTo('/my-account/my-projects')">
      <div class="row">
        <div class="col-10">
          <span>Projects</span>
        </div>
        <div class="col-1">
          <span id="arrow">
            <svg class="arrow-menu" width="24px" height="24px">
              <use xlink:href="#arrow-menu"></use>
            </svg>
          </span>
        </div>
      </div>
    </button>
    <div class="w-100"></div>
    <button class="my-account-control" (click)="navigateTo('support')">
      <div class="row">
        <div class="col-10">
          <span>Support</span>
        </div>
        <div class="col-1">
          <span id="arrow">
            <svg class="arrow-menu" width="24px" height="24px">
              <use xlink:href="#arrow-menu"></use>
            </svg>
          </span>
        </div>
      </div>
    </button>
    <div class="w-100"></div>
    <button class="my-account-control" (click)="navigateTo('/my-account/create-project')">
      <div class="row">
        <div class="col-10">
          <span> Create a project </span>
        </div>
        <div class="col-1">
          <span id="arrow">
            <svg class="arrow-menu" width="24px" height="24px">
              <use xlink:href="#arrow-menu"></use>
            </svg>
          </span>
        </div>
      </div>
    </button>
    <div class="w-100"></div>
    <button class="my-account-control" (click)="navigateTo('my-projects/search')">
      <div class="row">
        <div class="col-10">
          <span> Search for a project </span>
        </div>
        <div class="col-1">
          <span id="arrow">
            <svg class="arrow-menu" width="24px" height="24px">
              <use xlink:href="#arrow-menu"></use>
            </svg>
          </span>
        </div>
      </div>
    </button>
    <div class="w-100"></div>
    <button class="my-account-control" (click)="logOut()">
      <div class="row">
        <div class="col-10">
          <span id="log-out"> Log out</span>
        </div>
        <div class="col-1">
          <span id="arrow">
            <svg class="arrow-menu" width="24px" height="24px">
              <use xlink:href="#arrow-menu"></use>
            </svg>
          </span>
        </div>
      </div>
    </button>
  </div>
</div>
