<div class="container-fluid">
  <div class="row sign-up-block h-100 no-gutters d-flex align-items-center">
    <div class="col-5 col-md-5 col-lg-5">
      <app-info-panel></app-info-panel>
    </div>
    <div class="col-7 col-md-7 col-lg-7">
      <a [routerLink]="['/']">
        <div class="navigation d-flex justify-content-start">
          <svg width="20px" height="20px">
            <use xlink:href="#navigation-back"></use>
          </svg>
          <span>Back</span>
        </div>
      </a>
      <div class="sign-up-panel">
        <span class="header-sign-up d-flex justify-content-center"
          >Register Individual Account!</span
        >
        <div class="d-flex justify-content-center">
          <span class="add-text">Go inside the best recruiters network!</span>
        </div>
        <span class="d-flex justify-content-center">
          <svg width="430px" height="2px">
            <use xlink:href="#separation-line"></use>
          </svg>
        </span>
        <div class="sign-up-form d-flex justify-content-center">
          <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <!-- <div>
              <label class="input-label" for="userName">User name*</label>
              <div class="input-validation" [attr.input-status]="
                signUpForm.get('userName').touched && signUpForm.get('userName').invalid
                  ? 'error'
                  : ''
              ">
                <input id="userName" class="input-field" type="text" formControlName="userName" />
              </div>
              <div *ngIf="
                signUpForm.get('userName').touched && signUpForm.get('userName').errors?.required
              " class="input-error">
                Required
              </div>
            </div> -->
            <div>
              <label class="input-label" for="email">Email*</label>
              <div
                class="input-validation"
                [attr.input-status]="
                  signUpForm.get('email').touched && signUpForm.get('email').invalid ? 'error' : ''
                "
              >
                <input id="email" type="email" class="input-field" formControlName="email" />
              </div>
              <div
                *ngIf="signUpForm.get('email').touched && signUpForm.get('email').errors?.required"
                class="input-error"
              >
                Required
              </div>
              <div
                *ngIf="signUpForm.get('email').touched && signUpForm.get('email').errors?.email"
                class="input-error"
              >
                Incorrect email format
              </div>
            </div>
            <div>
              <label class="input-label" for="password">Password*</label>
              <div
                class="input-validation"
                [attr.input-status]="
                  signUpForm.get('password').touched && signUpForm.get('password').invalid
                    ? 'error'
                    : ''
                "
              >
                <input
                  id="password"
                  class="input-field"
                  type="password"
                  formControlName="password"
                />
              </div>
              <div
                *ngIf="
                  signUpForm.get('password').touched && signUpForm.get('password').errors?.required
                "
                class="input-error"
              >
                Required
              </div>
            </div>

            <div class="w-100"></div>
            <button
              class="col-12 col-md-12 log-in-btn main-btn"
              type="submit"
              [disabled]="signUpForm.invalid"
            >
              Register Account
            </button>
            <div class="d-flex justify-content-center">
              <svg height="15px" width="400px">
                <use xlink:href="#or-separator"></use>
              </svg>
            </div>
            <button class="col-12 col-md-12 additional-btn" type="button">
              <span style="padding-right: 80px">
                <svg height="30px" width="30px">
                  <use xlink:href="#google-icon"></use>
                </svg>
              </span>
              <span style="padding-right: 80px">Sign in with Google</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
