<div class="profession-section">
  <span class="header">{{ professionType }}</span>
  <div class="row resumes-row">
    <span *ngIf="resumes" class="row">
      <div *ngFor="let resume of resumes" class="d-flex justify-content-start">
        <div>
          <button class="main-btn" (click)="openJobDescription(resume.id)">
            {{ getProfessionTypeLetter(resume.seniorityLevel) }}
          </button>
        </div>
      </div>
      <button class="additional-btn add-btn" (click)="openCreateResumePopUp()">
        <svg width="30px" height="30px">
          <use xlink:href="#add-black"></use>
        </svg>
      </button>
    </span>
  </div>
</div>
