$main-color-orange: #ffc107;
$additional-color-gray: #9ba5a9;
$quote-text-color: #696f79;
$additional-text-color: #8692a6;
$text-color: #000000;
$min-input-width: 300px;
@mixin image-annimation {
  transition: all 0.3s ease-in-out 0s;
  &:hover {
    transform: rotate(60deg);
    transition: all 0.3s ease-in-out 0s;
  }
}

@mixin links-underline {
  text-decoration: underline;
  color: $text-color;
  font-weight: lighter;
}

.log-in-form {
  align-content: center;
  min-width: $min-input-width;
  a {
    @include links-underline();
  }

  input {
    min-width: $min-input-width;
  }

  form > div {
    margin-bottom: 0.8rem;
  }

  button {
    min-width: 400px;
    min-height: calc(35px + 1vw);
    margin-bottom: 1rem;
  }
  .sign-in-btn {
    margin-top: 0.7rem;
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.text-underline {
  @include links-underline();
  text-transform: uppercase;
}

.header-log-in {
  font-weight: 630;
  font-size: calc(0.9rem + 1vw);
  margin-bottom: 0.2rem;
}

.img-background {
  margin: 0;
  padding: 0;
  img {
    @include image-annimation();
  }
}

.log-in-block {
  padding-top: 4%;
  padding-left: 6%;
  .add-text {
    color: $additional-text-color;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 28px;
  }
  .social-media-btn {
    button {
      min-width: calc(35px + 1vw);
      min-height: calc(35px + 1vw);
      margin-left: 1rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
}

.logo {
  img {
    max-width: 110px;
    max-height: 110px;
    margin-bottom: 1rem;
  }
  padding-left: 15%;
  padding-top: 3%;
  .logo-text {
    color: $main-color-orange;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 85px;
  }
}

@mixin quote-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 38px;
  color: $quote-text-color;
}

.quote {
  padding-top: 10%;
  padding-left: 2%;
  .colon {
    max-width: 31px;
    max-height: 21px;
  }
  .quote-text {
    @include quote-text();
    padding-top: 0.2rem;
    max-width: 75%;
  }

  .autor {
    @include quote-text();
    margin-top: 3rem;
  }
}

.figure-rect {
  margin-right: 15%;
}
