$main-color-orange: #ff9c2d;
$additional-color-gray: #9ba5a9;
$text-color: #000000;
$min-input-width: 300px;
@mixin image-annimation {
  transition: all 0.3s ease-in-out 0s;
  &:hover {
    transform: rotate(60deg);
    transition: all 0.3s ease-in-out 0s;
  }
}

@mixin links-underline {
  text-decoration: underline;
  color: $text-color;
  font-weight: lighter;
}

.log-in-form {
  align-content: center;
  min-width: $min-input-width;
  a {
    @include links-underline();
  }

  input {
    min-width: $min-input-width;
  }

  form > div {
    margin-bottom: 0.8rem;
  }
}

.sign-up-controls {
  margin-top: 0.5rem;
  max-width: $min-input-width;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.text-underline {
  @include links-underline();
  text-transform: uppercase;
}

.header-log-in {
  font-weight: 630;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.img-background {
  margin: 0;
  padding: 0;
  img {
    @include image-annimation();
  }
}

.log-in-block {
  padding-top: 10%;
  padding-left: 5%;
}
