$main-color-orange: #ff9c2d;
$additional-color-gray: #9ba5a9;
$text-color: #000000;
$min-input-width: 300px;
@mixin button-annimation($value) {
  box-shadow: 0px 2px 12px darken($color: $value, $amount: 5);
}

button {
  margin-bottom: 1rem;
  &:focus,
  &:active {
    outline: none;
  }

  &:disabled {
    cursor: pointer;
    opacity: 0.3;
  }
}

@mixin links-underline {
  text-decoration: underline;
  color: $text-color;
  font-weight: lighter;
}

.log-in-form {
  align-content: center;
  min-width: $min-input-width;
  button {
    &:hover:enabled {
      @include button-annimation($main-color-orange);
    }
    background-color: $main-color-orange;
  }
  a {
    @include links-underline();
  }

  input {
    min-width: $min-input-width;
  }

  form>div {
    margin-bottom: 0.8rem;
  }
}

.sign-up-controls {
  min-width: $min-input-width;
  button {
    margin-top: 0.5rem;
    &:hover:enabled {
      @include button-annimation($additional-color-gray);
    }
    background-color: $additional-color-gray;
    border: #9ba5a9;
  }
  a {
    @include links-underline();
  }
}

.log-in {
  width: min-content;
  margin-top: 12%;
  margin-right: 60%;
}

.text-underline {
  @include links-underline();
  text-transform: uppercase;
}

.header-log-in {
  font-weight: 630;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
