<div class="container popup-body">
  <div>
    <div class="row engine-header">
      <div class="col-lg">
        <div class="heading">Resume engine</div>
        <div class="header-text">
          Stop wasting your time by creating same job descriptions over and over -
          <span class="text-emphasis">AUTOMATE IT!</span>
        </div>
      </div>
    </div>
    <div class="scaffold-body">
      <div class="row">
        <div class="col-sm heading">Scaffoled data</div>
      </div>
      <div class="row">
        <div class="col-sm">
          <form [formGroup]="resumeForm" (ngSubmit)="generateTemplate()">
            <div class="scaffold-text">
              <span class="heading-small">Position type:</span>
              <select formControlName="positionType" class="text-description-small">
                <option value="">Select position type</option>
                <option *ngFor="let position of getPositionIds()" [value]="position">
                  {{ getPositionName(position) }}
                </option>
              </select>
            </div>

            <div class="scaffold-text">
              <span class="heading-small">Level of seniority:</span>
              <select formControlName="seniorityLevel" class="text-description-small">
                <option value="">Select seniority level</option>
                <option *ngFor="let level of getSeniorityIds()" [value]="level">
                  {{ getSeniorityName(level) }}
                </option>
              </select>
            </div>

            <div class="scaffold-text">
              <button class="btn-danger" [disabled]="resumeForm.invalid">Generate template</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
