<div class="container popup-body">
  <div>
    <div class="row engine-header">
      <div class="col-lg">
        <div class="heading">Resume engine</div>
        <div class="header-text">
          Stop wasting your time by creating same job descriptions over and over -
          <span class="text-emphasis">AUTOMATE IT!</span>
        </div>
      </div>
    </div>
    <div class="row scaffold-body">
      <div class="col-sm heading">Scaffoled data</div>
      <div class="col-sm scaffold-info">Data</div>
    </div>
  </div>
</div>
