.popup-body {
  min-width: 500px;
}

.engine-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 24px;
  border-bottom: 1px solid #e3e3e3;
}

.heading {
  padding-bottom: 8px;
  align-items: baseline;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1a1a1a;
}

.text-description {
  padding-left: 7px;
  padding-top: 2px;
  align-items: baseline;
  color: #1a1a1a;
}

.heading-small {
  padding-bottom: 8px;
  align-items: baseline;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #1a1a1a;
}

.text-description-small {
  padding-left: 7px;
  padding-top: 2px;
  font-size: 14px;
  align-items: baseline;
  color: #1a1a1a;
}

.scaffold-text {
  padding-left: 6%;
}

.header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  flex-wrap: wrap;
  color: #1a1a1a;
}

.text-emphasis {
  margin: 0px;
  color: #f26b3a;
  text-decoration: none;
}

.scaffold-body {
  padding: 24px;
}

.scaffold-info {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}
