<div class="container-fluid w-100 projects-list">
  <header class="d-flex justify-content-start logo">
    <a [routerLink]="['/']">
      <img src="../../../../../assets/sign-in-page/logo-sign-in.svg" alt="logo" />
    </a>
    <span class="logo-text">RecruTan</span>
    <div class="dots-figure">
      <svg width="50px" height="46px">
        <use xlink:href="#dots-figure"></use>
      </svg>
    </div>
  </header>
  <div class="row no-gutters projects d-flex">
    <div
      class="overflow-auto"
      style="width: 100%; max-height: 100px; min-height: 430px; min-width: 600px"
    >
      <div>
        <div class="project">
          <div>
            <span class="header">Location: &nbsp;</span>
            <span class="text">{{ project.location }}</span>
          </div>
          <div>
            <span class="header">Assigned to: &nbsp;</span>
            <span class="text">{{ project.assignedTo }}</span>
          </div>
          <div>
            <span class="header">Description: &nbsp;</span>
            <span class="text" id="description">{{ project.description }} </span>
          </div>
        </div>
        <div class="project">
          <app-profession-section
            *ngFor="let category of categories"
            [professionType]="category.category"
            [resumes]="category.resumes"
          ></app-profession-section>
          <div class="add-category" *ngIf="!isCategoryAdded" (click)="addCategory()">
            + Add a category
          </div>
          <div *ngIf="isCategoryAdded">
            <input type="text" [(ngModel)]="categoryName" />
            <button [disabled]="categoryName == null" (click)="saveNewCategory()">Save</button>
            <button (click)="isCategoryAdded = !isCategoryAdded">Cancel</button>
          </div>
        </div>
        <div class="project">
          <div>
            <span class="header">Used technologies</span>
            <button class="additional-btn add-btn" (click)="openTechnologiesSearch()">
              <svg width="30px" height="30px">
                <use xlink:href="#add-black"></use>
              </svg>
            </button>
          </div>
          <div class="row tech-row">
            <div *ngFor="let technology of project.usedTechnologies" class="technologies">
              <svg width="50px" height="50px">
                <use xlink:href="#python"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="project"></div>
      </div>
    </div>
  </div>
</div>
