$background-color: #ffc107;
$main-color-orange: #ff9c2d;
$additional-color-gray: #9ba5a9;
$text-color: #000000;
$project-height: calc(6rem + 1vw);
$project-block-padding: 0.8rem;

.projects-list {
  background-color: rgba(
    red($background-color),
    green($background-color),
    blue($background-color),
    0.05
  );
  width: 100%;
  height: 100%;
  padding-right: 0;
  .projects {
    padding-left: 2%;
    padding-right: 5%;
    width: 100%;
  }
}

.project {
  background: rgba(255, 193, 7, 0.4);
  border-radius: 6px;
  margin-bottom: 0.8rem;
  min-height: $project-height;
  padding-left: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  .header {
    font-style: normal;
    font-weight: 500;
    font-size: calc(0.3rem + 1vw);
    line-height: 24px;

    color: #000000;
  }
  .text {
    font-style: normal;
    font-weight: 300;
    font-size: calc(0.3rem + 1vw);
    line-height: 24px;

    color: #000000;

    #description {
      width: 100px;
    }
  }
}

.project-logo {
  max-width: 80px;
  max-height: 80px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.logo {
  padding-left: 8%;
  padding-top: 3%;
  padding-bottom: 7%;
  img {
    max-width: 4vw;
    max-height: 4vw;
  }
  .logo-text {
    color: $main-color-orange;
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.6rem + 1vw);
    line-height: 24px;
    padding-top: calc(0.1rem + 1vw);
    padding-left: 0.2rem;
  }

  .dots-figure {
    padding-left: 65%;
    margin-top: -2%;
  }
}

.project-description {
  padding-top: 2%;
}

.add-category {
  font-style: normal;
  font-weight: 500;
  font-size: calc(0.2rem + 1vw);
  line-height: 17px;
  cursor: pointer;

  color: #000000;

  &:hover {
    font-size: calc(0.25rem + 1vw);
  }
}

.tech-row {
  width: 100%;
  padding-left: 0.5rem;
}
