<div class="row w-100">
  <div class="col">
    <button class="my-account-control" (click)="navigateTo('/my-account')">
      <div class="row">
        <div class="col-11">
          <span>My account</span>
        </div>
        <div class="col-1">
          <span id="arrow">
            <svg class="arrow-menu" width="24px" height="24px">
              <use xlink:href="#arrow-menu"></use>
            </svg>
          </span>
        </div>
      </div>
    </button>
    <div class="w-100"></div>
    <button class="my-account-control" (click)="navigateTo('support')">
      <div class="row">
        <div class="col-11">
          <span>Support</span>
        </div>
        <div class="col-1">
          <span id="arrow">
            <svg class="arrow-menu" width="24px" height="24px">
              <use xlink:href="#arrow-menu"></use>
            </svg>
          </span>
        </div>
      </div>
    </button>
    <div class="w-100"></div>
    <button class="my-account-control" (click)="navigateTo('/my-account/create-project')">
      <div class="row">
        <div class="col-11">
          <span> Create a project </span>
        </div>
        <div class="col-1">
          <span id="arrow">
            <svg class="arrow-menu" width="24px" height="24px">
              <use xlink:href="#arrow-menu"></use>
            </svg>
          </span>
        </div>
      </div>
    </button>
    <div class="w-100"></div>
    <button class="my-account-control" (click)="navigateTo('/my-account/my-projects')">
      <div class="row">
        <div class="col-11">
          <span> All projects </span>
        </div>
        <div class="col-1">
          <span id="arrow">
            <svg class="arrow-menu" width="24px" height="24px">
              <use xlink:href="#arrow-menu"></use>
            </svg>
          </span>
        </div>
      </div>
    </button>
    <div class="w-100"></div>
  </div>
</div>
