<div class="card-body">
  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
    <div class="input-group">
      <input
        type="search"
        placeholder="search..."
        aria-describedby="button-search"
        class="form-control border-0 bg-light"
      />
      <div class="input-group-append">
        <button id="button-search" type="submit" class="btn btn-link text-primary">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
