<div class="d-flex justify-content-end">
  <div class="pop-up-menu">
    <button class="close-btn" (click)="close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </button>
  </div>
</div>
<div class="card-body">
  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
    <div class="input-group">
      <input
        type="search"
        placeholder="search..."
        aria-describedby="button-search"
        class="form-control border-0 bg-light"
      />
      <div class="input-group-append">
        <button id="button-search" type="submit" class="btn btn-link text-primary">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
