$main-color-orange: #ffc107;

.logo {
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 2%;
  img {
    max-width: 4vw;
    max-height: 4vw;
  }
  .logo-text {
    color: $main-color-orange;
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.6rem + 1vw);
    line-height: 24px;
    padding-top: calc(0.1rem + 1vw);
    padding-left: 0.2rem;
  }

  .dots-figure {
    padding-left: 84%;
    margin-top: -2%;
  }
}

.profile-img {
  border: 0.3rem solid #ffc107;
  box-sizing: border-box;
  border-radius: 50%;
  width: 9%;
  height: 9%;
}

.account-name {
  color: $main-color-orange;
  font-style: normal;
  font-weight: 600;
  font-size: calc(0.9rem + 1vw);
  line-height: 4rem;
}
