@mixin image-prop {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.default {
  @include image-prop();
  background-image: url('../../../assets/background-svgs/log-n-background.jpg');
}
.logIn {
  @include image-prop();
  background-image: url('../../../assets/background-svgs/log-in-background.svg');
}

.signUp {
  @include image-prop();
  background-image: url('../../../assets/background-svgs/log-in-background.svg');
}
