@mixin image-prop {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.default {
  @include image-prop();
  background-image: none;
}
