<div class="row" style="margin-left: 5%">
  <div class="quote">
    <span class="colon">
      <svg width="31" height="21" viewBox="0 0 26 20">
        <use xlink:href="#img-colon"></use>
      </svg>
    </span>
    <div class="quote-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    </div>
    <div class="autor">Someone</div>
  </div>
</div>
