/* You can add global styles to this file, and also import other style files */
$error-input: #dd001b;
$input-height: 2rem;
$input-border-width: 0.12rem;
$input-border-color: #9ba5a9;
$input-focus-color: #ff9c2d;
$opacity-disabled: 0.3;
$input-label-color: #9ba5a9;
$input-label-font-weight: 400;
$input-label-font-size: 0.8rem;
$main-color-orange: #ff9c2d;
$additional-color-gray: #dbdbdb;
@mixin button-annimation($value) {
  box-shadow: 0px 2px 12px darken($color: $value, $amount: 5);
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.spinner-backdrop {
  background-color: white;
  opacity: 0.85;
}

.custom-dialog-container .mat-dialog-container {
  padding: 16px;
  padding-top: 10px;
  margin: 0px;
}

::selection {
  background: orange;
}

.input-validation {
  &[input-status='error'] {
    border: 0;
    .input-field {
      border-bottom-color: $error-input;
    }
  }
}

.error-message {
  color: $error-input;
}

.input-field {
  display: inline-block;
  width: 100%;
  height: $input-height;
  padding: 0;
  border: 0;
  border-bottom-width: $input-border-width;
  border-bottom-style: solid;
  border-bottom-color: $input-border-color;

  &:focus,
  &:active {
    outline: none;
    border-bottom-color: $input-focus-color;
  }

  &:disabled {
    cursor: pointer;
    opacity: $opacity-disabled;
  }
}

.input-label {
  color: $input-label-color;
  font-weight: $input-label-font-weight;
  margin-bottom: 0;
  font-size: $input-label-font-size;
}

.input-error {
  color: $error-input;
  font-size: $input-label-font-size;
}

.main-btn {
  button {
    margin-bottom: 1rem;
    &:focus,
    &:active {
      outline: none;
    }

    &:disabled {
      cursor: pointer;
      opacity: 0.3;
    }
  }
  &:hover:enabled {
    @include button-annimation($main-color-orange);
  }
  background-color: $main-color-orange;
}

.additional-btn {
  button {
    margin-bottom: 1rem;
    &:focus,
    &:active {
      outline: none;
    }

    &:disabled {
      cursor: pointer;
      opacity: 0.3;
    }
  }
  &:hover:enabled {
    @include button-annimation($additional-color-gray);
  }
  background-color: $additional-color-gray;
  border: #dbdbdb;
}
