/* You can add global styles to this file, and also import other style files */
$error-input: #dd001b;
$input-height: 2rem;
$input-border-width: 1px;
$input-border-color: #8692a6;
$input-focus-color: #ffc107;
$opacity-disabled: 0.3;
$input-label-color: #8692a6;
$input-label-font-weight: 400;
$input-label-font-size: 0.8rem;
$main-color-orange: #ffc107;
$additional-color-gray: #ffffff;
@mixin button-annimation($value) {
  box-shadow: 0px 2px 12px darken($color: $value, $amount: 5);
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.spinner-backdrop {
  background-color: white;
  opacity: 0.85;
}

.custom-dialog-container .mat-dialog-container {
  padding: 16px;
  padding-top: 10px;
  margin: 0px;
}

::selection {
  background: orange;
}

.input-validation {
  &[input-status='error'] {
    border: 0;
    .input-field {
      border-color: $error-input;
    }
  }
}

.error-message {
  color: $error-input;
}

.input-field {
  display: inline-block;
  width: 100%;
  height: $input-height;
  padding: 0;
  padding-left: 0.5rem;
  border: $input-border-width solid $input-border-color;
  border-radius: 6px;
  min-width: 400px;
  min-height: 46px;

  &:focus,
  &:active {
    outline: none;
    border-color: $input-focus-color;
  }

  &:disabled {
    cursor: pointer;
    opacity: $opacity-disabled;
  }
}

.input-label {
  color: $input-label-color;
  font-weight: $input-label-font-weight;
  margin-bottom: 0;
  font-size: $input-label-font-size;
}

.input-error {
  color: $error-input;
  font-size: $input-label-font-size;
}

.main-btn {
  button {
    margin-bottom: 1rem;
    &:focus,
    &:active {
      outline: none;
    }

    &:disabled {
      cursor: pointer;
      opacity: 0.3;
    }
  }
  &:hover:enabled {
    @include button-annimation($main-color-orange);
  }
  background-color: $main-color-orange;
  border-radius: 6px;
  border: none;
  outline: 0 !important;
}

.additional-btn {
  button {
    margin-bottom: 1rem;
    &:focus,
    &:active {
      outline: none;
    }

    &:disabled {
      cursor: pointer;
      opacity: 0.3;
    }
  }
  &:hover:enabled {
    @include button-annimation($additional-color-gray);
  }
  background-color: $additional-color-gray;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: none;
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
