<div class="container-fluid h-100" style="padding-left: 0">
  <div class="row no-gutters h-100">
    <div id="projects-col" appEqualWidth class="col" style="max-width: 80%; min-width: 47%">
      <app-projects-list></app-projects-list>
    </div>
    <div
      id="account-controls-col"
      appEqualWidth
      mwlResizable
      [enableGhostResize]="true"
      resizeCursorPrecision="20"
      [validateResize]="onResizeValidate.bind(this)"
      [resizeEdges]="{ left: true }"
      (resizeEnd)="onResizeEnd($event)"
      [ngStyle]="style"
    >
      <app-account-controls></app-account-controls>
    </div>
  </div>
</div>
