<div class="container-fluid h-100" style="padding-left: 0;">
  <div class="row no-gutters h-100">
    <div class="col d-flex justify-content-center">
      <app-projects-list></app-projects-list>
    </div>
    <div
      mwlResizable
      [enableGhostResize]="true"
      resizeCursorPrecision="20"
      [validateResize]="onResizeValidate.bind(this)"
      [resizeEdges]="{ left: true }"
      (resizeEnd)="onResizeEnd($event)"
      [ngStyle]="style"
    >
      <app-account-controls></app-account-controls>
    </div>
  </div>
</div>
