<div class="container-fluid h-100" style="padding-left: 0">
  <div class="row no-gutters h-100 w-100">
    <div id="projects-col" appEqualWidth class="col h-100" style="max-width: 70%; min-width: 40%">
      <app-project-description></app-project-description>
    </div>
    <div
      id="account-controls-col"
      class="h-100"
      appEqualWidth
      mwlResizable
      [enableGhostResize]="true"
      resizeCursorPrecision="20"
      [validateResize]="onResizeValidate.bind(this)"
      [resizeEdges]="{ left: true }"
      (resizeEnd)="onResizeEnd($event)"
      [ngStyle]="style"
      style="min-width: 35%"
    >
      <app-project-controls></app-project-controls>
    </div>
  </div>
</div>
